@page "/NewHome"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container img {
            max-width: 25%; /* Adjust this percentage as needed */
            height: auto; /* Maintains aspect ratio */
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <img src="https://static.wixstatic.com/media/e9fa2c_5756d22ef1ee4d8ab96d62a6d21a1396~mv2.png/v1/fill/w_774,h_774,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/BlueDevilBridges.png" class="img-fluid" alt="Blue Devil Bridges">
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-auto">
                <a href="NewHome" class="btn btn-primary">Generate Pairings</a>
            </div>
            <div class="col-auto">
                <a href="newpair" class="btn btn-primary">Statistics</a>
            </div>
            <div class="col-auto">
                <a href="Past-Matches" class="btn btn-primary">Past Matches</a>
            </div>
        </div>
    </div>
</body>
